---
interface Props {
  type?: "primary" | "secondary";
  text: string;
}

const { text, type = "primary" } = Astro.props;
---

<h3 class:list={[type]}>{ text }</h3>

<style>
  h3 {
    font-family: var(--font-2);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    opacity: .7;
  }
  .primary {
    color: var(--black);
  }
  .secondary {
    color: var(--accent);
  }
</style>