---
import { type AnimationType } from "../../../types/animation";

interface Props {
  type?: "primary" | "secondary";
  textAlign?: "start" | "center";
  animation?: Exclude<AnimationType, "appear100">;
}

const { type = "primary", textAlign = "start", animation = "animationNone" } = Astro.props;
---

<p class:list={[type, animation]}><slot /></p>

<style define:vars={{ textAlign }}>
  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-align: var(--textAlign);
  }
  .primary {
    color: var(--black);
  }
  .secondary {
    color: var(--accent);
  }
  .animationNone {
    opacity: .8;
  }
</style>