<ul>
  <li>
    <a>Products</a>
  </li>
  <li>
    <a>Project</a>
  </li>
  <li>
    <a>Contracts</a>
  </li>
  <li>
    <a>Case Studies</a>
  </li>
  <li>
    <a>Unicorn Academy</a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    color: var(--white);
    gap: 32px;
    list-style: none;
  }
</style>
