<ul>
  <li>
    <a>Contact Us</a>
  </li>
  <li>
    <a>Request Demo</a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    justify-self: flex-end;
    gap: 32px;
    list-style: none;
    color: var(--white);
  }
  a {
    font-weight: 900;
  }
</style>
