---
interface Props {
  text: string;
  type?: "primary" | "secondary" | "tertiary";
  href?: string;
}

const { text, type = "primary", href } = Astro.props;
---

<a class={type} href={href}>
  {text}
</a>

<style>
  a {
    padding: 12px 56px;
    font-size: 18px;
    font-family: var(--font-1);
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    text-decoration: none;
  }
  a:hover {
    opacity: 0.8;
  }
  .primary {
    background-color: var(--primary-600);
    color: var(--accent);
  }
  .secondary {
    background-color: var(--white);
    color: var(--primary-600);
  }
  .tertiary {
    background-color: var(--white);
    color: var(--primary-600);
    padding: 0;
  }
</style>
