---
interface Props {
  text: string;
  type?: "primary" | "secondary" | "tertiary";
}

const { text, type = "primary" } = Astro.props;
---

<button class={type}>
  {text}
</button>

<style>
  button {
    padding: 12px 56px;
    font-size: 18px;
    font-family: var(--font-1);
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
    border: none;
  }
  button:hover {
    opacity: 0.8;
  }
  .primary {
    background-color: var(--primary-600);
    color: var(--accent);
  }
  .secondary {
    background-color: var(--white);
    color: var(--primary-600);
  }
  .tertiary {
    background-color: var(--white);
    color: var(--primary-600);
    padding: 0;
  }
</style>
