---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<button>
  {text}
</button>

<style>
  button {
    padding: 12px 56px;
    font-size: 18px;
    font-family: var(--font-1);
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
    border: none;
  }
  button:hover {
    opacity: 0.8;
  }
</style>
