---
import "@fontsource/unbounded";
import "@fontsource/red-hat-display";
import Html from "../templates/Html.astro";
import Navbar from "../components/global/navbar/Navbar.astro";
import Preloader from "../components/global/preloader/Preloader.astro";
import Footer from "../components/global/footer/Footer.astro";
import Landing from "../components/index/landing/Landing.astro";
import WhatWeDo from "../components/index/whatWeDo/WhatWeDo.astro";
import Banner from "../components/index/banner/Banner.astro";
import IconSection from "../components/index/iconSection/IconSection.astro";
import Motto from "../components/index/motto/Motto.astro";
import IconSection2 from "../components/index/iconSection2/IconSection2.astro";
import ContactHeader from "../components/index/contactHeader/ContactHeader.astro";
import ImageSection from "../components/index/imageSection/ImageSection.astro";
---

<Html>
  <Preloader />
  <Navbar />
  <Landing />
  <div class="not-landing">
    <WhatWeDo />
    <Banner  />
    <IconSection />
    <Motto />
    <IconSection2 />
    <ContactHeader />
    <ImageSection />
  </div>
  <Footer />  
</Html>