---
import IconCard from "./IconCard.astro";
import IconApp from "../../../assets/icons/IconApp.astro";
import Header from "../../global/header/Header.astro";
import Button from "../../global/button/Button.astro";
import IconCardContainer from "./IconCardContainer.astro";
---

<section>
  <Header small="Nuestros servicios" text="Softwares a la medida de tus necesidades">
    <div class="button-container">
      <Button type="tertiary" text="Contáctanos" />
    </div>
  </Header>
  <IconCardContainer>
    <IconCard
      title="CONTABILIDAD Ver.13.0"
      text="Incluye funcionalidades según Normas 3 y 6 emanadas del Colegio Nacional de Auditores y Contadores en concordancia con Normas de Impuestos Nacionales."
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="INVENTARIOS Ver.10.0 (COMERCIAL)"
      text="Con los módulos Clientes, Proveedores, Consumo de materiales por Centros de Costo, Anticipos, Facturación manual y computarizada."
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="INVENTARIOS Ver.6.0 (FARMACIAS)"
      text="Farmacias con sucursales en las que todos sus puntos de venta estén conectados a un solo servidor donde sus operaciones se realizan en tiempo real"
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="PLANILLAS Ver.4.0"
      text="Registro de empleados, planillas con columnas programables. Planilla de sueldo, RC-IVA, retenciones, aguinaldos, papeletas de pago."
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="CONTROL DE CUOTAS"
      text="Ideal para colegios, condominios e instituciones que requieren el control de pagos mensuales en función a una programación de cuotas en base a un plan de pagos."
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="FACTURACIÓN ELECTRÓNICA Y/O COMPUTARIZADA"
      text="Simplifica el proceso de generación, envío y gestión de facturas, optimizando la contabilidad y cumpliendo con las regulaciones fiscales vigentes."
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="LIDER CREATIVO"
      text="Páginas web modernas y aplicaciones a medida diseñadas especificamente para potenciar tu negocio y satisfacer las necesidades tecnológicas del mundo actual."
    >
      <IconApp />
    </IconCard>
  </IconCardContainer>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    padding: 0 var(--padding-inline) 10vh;
  }
  .button-container {
    align-self: flex-end;
    padding: 0 12px;
  }
</style>