---
import IconCard from "./IconCard.astro";
import IconApp from "../../../assets/icons/IconApp.astro";
import Header from "../../global/header/Header.astro";
import IconCardContainer from "./IconCardContainer.astro";
import Button from "../../global/button/Button.astro";
import Text from "../../global/texts/Text.astro";
---

<section id="services">
  <Header small="Nuestros servicios" text="Softwares a la medida de tus necesidades">
    <div class="button-container">
      <Button type="tertiary" text="Contáctanos" href="#contact" />
    </div>
  </Header>
  <IconCardContainer>
    <IconCard
      title="Contabilidad Versión 10.0 On Line"
      text="Contabilidad General, Presupuestos, Flujo de Caja, Control de Activos Fijos, Tesorería, Libros de Compras y Ventas IVA (Exportables a FACILITO), Módulo bancarización, Actualización UFV’s (Sistema Integrado a sistema de Inventarios- Genera asientos de las transacciones de Inventarios)"
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="Sistema de Inventarios y Versión Farmacias"
      text="Kardex, Control de Clientes y Proveedores, Control de productos por fechas de vencimiento, pedidos de acuerdo a promedios de venta, Transferencia de datos vía internet de sucursales remotas a la Sucursal Central."
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="Sistemas de Inventarios P.O.S. On Line"
      text="Kardex, Control de Clientes y Proveedores, Control de materia prima Producción, Transferencia de datos vía internet de sucursales remotas a la Sucursal Central, Reportes varios, por Puntos de Venta, Facturación computarizada (Supermercados y otros negocios similares) Control de Sucursales Remotas."
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="Sistema de Planillas"
      text="Planillas Mensuales, Papeletas de Pago, Planillas RC-IVA, Planillas de Aguinaldos, Planilla de Anticipos, Cálculo de Finiquitos y otros."
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="Sistema de Facturación Electrónica en LineRND102100000011"
      text="Sistema de facturación el Línea conforme a RND-102100000011 Electrónica y Computarizada en línea con la modalidad Compra – venta."
    >
      <IconApp />
    </IconCard>
    <IconCard
      title="LIDER CREATIVO"
      text="Páginas web modernas y aplicaciones a medida diseñadas especificamente para potenciar tu negocio y satisfacer las necesidades tecnológicas del mundo actual."
    >
      <IconApp />
    </IconCard>
  </IconCardContainer>
</section>
<section>
  <Text>Cada uno de nuestros sistemas viene con el servicio de: </Text>
  <ul>
    <li><Text>Respaldo técnico, permanente (ONLINE)</Text></li>
    <li><Text>Capacitación al personal involucrado en el uso de los sistemas</Text></li>
    <li><Text>Actualizaciones y personalizaciones según requerimiento del cliente</Text></li>
  </ul>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    padding: 0 var(--padding-inline) 10vh;
  }
  .button-container {
    align-self: flex-end;
    padding: 0 12px;
  }
</style>