---
import Text from "../../global/texts/Text.astro";
import Title from "../../global/texts/Title.astro";
import Image1 from "../../../assets/images/image1.png";
import Image2 from "../../../assets/images/image2.png";
import Image3 from "../../../assets/images/image3.png";
import { Image } from "astro:assets";
import Button from "../../global/button/Button.astro";
---

<section>
  <Title text="Nuestro objetivo" dot />
  <span>
    <Text animation="appear80" textAlign="center">Nuestro objetivo principal es dar mayor facilidad al usuario en las tareas de procesos de información financiera, la versatilidad de uso de nuestros sistemas hace que los informes sean logrados con mayor eficiencia y confiabilidad.</Text>
  </span>
  <span>
    <Text animation="appear80" textAlign="center">En Lider Soft SRL, nos tomamos muy en serio la calidad de nuestros productos y la seguridad de la información de nuestros clientes. Por eso, nuestras soluciones están diseñadas con los más altos estándares de calidad, utilizando tecnología de punta y protocolos de seguridad que garantizan la protección total de tus datos.</Text>
  </span>
  <span>
    <Text animation="appear80" textAlign="center">Además, nuestros sistemas están certificados y auditados regularmente para asegurar que cumplen con las normativas vigentes en Bolivia y estándares internacionales.</Text>
  </span>
  <!-- <div class="images-container">
    <div class="image fadeIn">
      <Image class="img" alt="preview-1" src={Image1} />
    </div>
    <div class="image fadeIn">
      <Image class="img" alt="preview-2" src={Image2} />
    </div>
    <div class="image fadeIn">
      <Image class="img" alt="preview-3" src={Image3} />
    </div>
  </div> -->
  <!-- <div class="button-container">
    <Button text="Únete a nosotros" type="tertiary" href="#contact" />
  </div> -->
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh var(--padding-inline) 10vh;
    gap: 40px;
  }
  span {
    width: 600px;
    max-width: 100%;
  }
  .images-container {
    width: 100%;
    display: flex;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .image {
    flex: 1;
    min-width: 200px;
    height: 200px;
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .button-container {
    margin-top: 20px;
  }
</style>