---
import Header from "../../global/header/Header.astro";
import Social from "./Social.astro";
---

<section>
  <Header text="Contáctanos" >
    <Social />
  </Header>
</section>

<style>
  section {
    padding: 15vh var(--padding-inline);
  }
</style>