---
import Dots from "./Dots.astro";
import TextContainer from "./TextContainer.astro";
---

<section>
  <Dots>
    <TextContainer />
  </Dots>
</section>

<style>
  section {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>