---
import Button from "../../global/button/Button.astro";
---

<div>
  <h1>Sistemas de gestión</h1>
  <h2>confiables a tu alcance</h2>
  <p>
    Más de 20 años de experiencia, trabajando con empresas de todo el país.
  </p>
  <Button text="Contáctanos" />
</div>

<style>
  div {
    z-index: 20;
    color: var(--white);
    text-align: center;
    margin-top: 20vh;
    padding-inline: 5vw;
  }
  h2 {
    font-size: 48px;
    font-weight: 100;
    text-wrap: balance;
  }
  h1 {
    font-size: 64px;
    font-weight: 900;
  }
  p {
    font-size: 20px;
    margin-top: 56px;
    margin-bottom: 48px;
  }

  @media screen and (max-width: 550px) {
    h2 {
      font-size: 32px;
    }
    h1 {
      font-size: 48px;
    }
  }
</style>
