---
import Button from "../global/button/button.astro";
---

<div>
  <h2>Secure software delivery for</h2>
  <h1>Aerospace</h1>
  <p>
    We make software delivery easy for the most secure systems in the world.
  </p>
  <Button text="Get in touch" />
</div>

<style>
  div {
    z-index: 20;
    color: var(--white);
    text-align: center;
  }
  h2 {
    font-size: 48px;
    font-weight: 100;
  }
  h1 {
    font-size: 64px;
    font-weight: 900;
  }
  p {
    font-size: 20px;
    margin-top: 56px;
    margin-bottom: 48px;
  }
</style>
